* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(146, 212, 146);
}
.panel {
  overflow: hidden;
  height: 80%;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
}
.panel_top {
  width: 100%;
  height: 100px;
  background-color: rgb(77, 109, 77);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20%;
}
.elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  color: #fff;
}
.elem h2 {
  font-size: 22px;
  font-weight: 300;
}
.box {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(46, 77, 46);
}
.panel_btm {
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.panel_btm h1 {
  color: rgb(71, 94, 71);
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: rgb(80, 109, 80);
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}
.bubble:hover {
  background-color: rgb(74, 153, 74);
}
